
.ProductList-wrapper {
  @include main-wrapper;
  padding-bottom: $footer-height;

  & > .container-fluid {
    padding: 0;
  }

  & .row {
    display: flex;
    flex-wrap: wrap;

    & > div {
      display: flex;
      flex-flow: column;
    }
  }
}

.ProductList-item {
  margin-bottom: 30px;
}

.ProductList-actions {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  margin-bottom: 5px;
  flex-wrap: wrap;

  & .DemoShop-button {
    margin-right: 10px;
  }
}
