@import "../../components/shared/shared.scss";

$name-size: 1.5em;
$description-border-size: 1px;
$name-margin-size: 10px;

.ProductDisplay-wrapper {
  margin: 0 auto;
  width: 80%;
  background: rgba(0, 0, 0, .4);
  min-height: 100vh;
}

.ProductDisplay-nav {
  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  color: $white-color;
}

.ProductDisplay-image {
  width: 100%;
  display: block;
}

.ProductDisplay-ratedImage {
  display: block;
  width: 100%;
}

.ProductDisplay-card {
  background-color: transparentize($white-color, .1);
  padding: 20px;
  width: calc(98% - 20px * 2);
  margin: 0 auto;
}

.ProductDisplay-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - #{$name-size} - #{$name-margin-size} - #{$description-border-size});
}

.ProductDisplay-name {
  margin: 0 0 $name-margin-size 0;
  font-size: $name-size;
}

.ProductDisplay-description {
  border-top: $description-border-size solid $main-color;
  padding-top: 20px;
}

.ProductDisplay-order {
  display: flex;
  justify-content: space-between;
}

.ProductDisplay-notAvailable {
  color: #c11313;
}

.ProductDisplay-adminActions {
 padding-top: 20px;
}

.ProductDisplay-modalContent {
  min-height: 100px;
  text-align: center;
  position: relative;
}

.ProductDisplay-orderModalButton {
  position: absolute;
  bottom: 0;
  right: 0;
}