@import '../shared/shared.scss';

$data-padding: 10px;
$data-margin: $data-padding;

.ProductCard-wrapper {
  margin: 0 0 20px;
  min-width: calc(#{$button-width} + 100px);
  display: flex;
  flex-flow: column;
  flex: 1
}

.ProductCard-image {
  width: 100%;
  display: block;
}

.ProductCard-title {
  font-weight: 800;
  padding-bottom: $data-padding;
  margin-bottom: $data-margin;
  border-bottom: solid;
  border-color: $main-color;
  border-width: 2px;
}

.ProductCard-data {
  background-color: #f1f2f1;
  padding: $data-padding;
  position: relative;
  padding-bottom: calc(#{$data-padding} * 2 + #{$button-height});
  flex: 1;
}

.ProductCard-button {
  @extend .DemoShop-button;
  position: absolute;
  right: $data-padding;
  bottom: $data-padding;
}

.ProductCard-price {
  position: absolute;
  bottom: $data-padding;
  left: $data-padding;
}