@import '../shared/shared.scss';

.FilterSearch-fieldGroup {
  padding-left: 10px;
  display: inline-block;
  position: relative;
  float: right;
}

.FilterSearch-field {
  @extend .DemoShop-field;
  padding-left: 10px;
  padding-right: 20px;
}

.FilterSearch-field:focus {
  border-color: transparentize($inactive-color, .7);
}

.FilterSearch-icon {
  @extend .DemoShop-fieldIcon;
  top: 6px;
}