@import '../shared/shared.scss';

.LoginForm-wrapper {
  margin: 0 auto;
  width: 450px;
}

.LoginForm-field {
  @extend .DemoShop-field;

  width: 100%;
  height: 60px;
  padding-left: 20px;
  padding-right: 60px;

  background-repeat: no-repeat;
  display: block;
  margin-bottom: 30px;
}

.LoginForm-loginField {
  @extend .LoginForm-field;
  background-size: 10% 100%;
  background-position: 390px top;
  background-image: url('/images/login-inactive.svg');
}

.LoginForm-loginField:focus {
  background-image: url('/images/login-active.svg');
}

.LoginForm-loginField:invalid {
  background-image: url('/images/login-invalid.svg');
}

.LoginForm-passwordField {
  @extend .LoginForm-field;
  background-size: 8% 100%;
  background-position: 395px top;
  background-image: url('/images/password-inactive.svg');
}

.LoginForm-passwordField:focus {
  background-image: url('/images/password-active.svg');
}

.LoginForm-passwordField:invalid {
  background-image: url('/images/password-invalid.svg');
}


.LoginForm-submit {
  @extend .DemoShop-button_big;
  float: right;
}