@import './components/shared/shared.scss';

$footer-height: 50px;
.App-header {
  margin: 0 auto;
  height: 30px;
  background: $main-color;
  padding: 10px 5%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.App-main {
  margin-bottom: $footer-height + 10px;
}

.App-footer {
  width: 100%;
  background: $main-color;
  text-align: center;
  line-height: $footer-height;
  position: fixed;
  bottom: 0;
  color: $white-color;
}
