@import './components/shared/shared.scss';

.App-header {
  margin: 0 auto;
  height: 30px;
  background: $main-color;
  padding: 10px 5%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.App-footer {
  width: 100%;
  background: $main-color;
  text-align: center;
  line-height: 50px;
  position: fixed;
  bottom: 0;
}
