body {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
    padding: 0;
    background-image: url("/images/bg.jpg");
    width: 100%;
}

html, body, #root, .App {
    height: 100%;
    overflow: hidden;
}

main {
    height: 100%;
    overflow-y: scroll;
}